source https://www.nuget.org/api/v2/

nuget FAKE

nuget FSharpx.Extras 1.10.3 framework: >= net45
nuget FsUnit.xUnit 1.4.1.0 framework: >= net45
nuget Fuchu 1.0.2.0 framework: >= net45
nuget xunit 2.1.0 framework: >= net45
nuget xunit.abstractions 2.0.0 framework: >= net45
nuget xunit.extensibility.core 2.1.0 framework: >= net45
nuget xunit.extensibility.execution 2.1.0 framework: >= net45
nuget xunit.runner.console 2.1.0 framework: >= net45